@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/* 
Tučnosti:
300 - Light
400 - Regular
500 - Medium
600 - Semi-Bold
700 - Bold
*/

:root {
    /* Teplá hnědá */
    --primary-color: #ad7555;
    /* Teplá hnědá selected */
    --primary-color-selected: #835136;

    /* Světle béžová */
    --secondary-color: #fee2c9;
    /* Světle béžová selected */
    --secondary-color-selected: #ddb28c;

    /* Tmavší hnědá */
    --text-color: #3e2a25;
    /* Teplá hnědá */
    --secondary-text-color: #ad7555;

    /* Krémová */
    --background-color: #faf3ee;
    /* Světle šedá */
    --secondary-background-color: #ebe2da;

    /* Kategorie */
    /* Medvídci */
    --category-bears: #e8d5c4;
    /* Pejsci */
    --category-dogs: #c9d9c3;
    /* Zvířátka */
    --category-animals: #f2c6c2;
    /* Fantasy */
    --category-fantasy: #d8c6e6;
}


/* ================ Header a footer ================ */

/* Header */
.nav__link {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
}

.search-icon {
    width: 24px;
    height: 24px;
    text-decoration: none;
}

.profile-icon {
    width: 24px;
    height: 24px;
    text-decoration: none;
}

.cart-icon {
    width: 24px;
    height: 24px;
    text-decoration: none;
}

/* Footer */
.footer__text {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 0.875rem;
}

.footer__social-icon {
    width: 20px;
    height: 20px;
    text-decoration: none;
}

.footer__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.footer__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 0.875rem;
    text-decoration: none;
}

.footer__address {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 0.875rem;
}

.footer__copyright {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 0.75rem;
}

.footer__link img {
    display: block;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
}
.footer__address img {
    display: block;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
}


/* ================ Domů ================ */

/* Hero */
.hero__title {
    font-family: 'Sour Gummy', sans-serif;
    font-weight: 700;
    color: var(--text-color);
    font-size: 3.125rem;
}

.hero__subtitle {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    color: var(--secondary-text-color);
    font-size: 1.875rem;
}

.hero__description {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
}

/* Kategorie */
.categories__title--bears {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    background-color: var(--category-bears);
    padding: 0.5em 3.125em;
    border-radius: 50px;
}

.categories__title--dogs {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    background-color: var(--category-dogs);
    padding: 0.5em 3.125em;
    border-radius: 50px;
}

.categories__title--animals {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    background-color: var(--category-animals);
    padding: 0.5em 3.125em;
    border-radius: 50px;
}

.categories__title--fantasy {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    background-color: var(--category-fantasy);
    padding: 0.5em 3.125em;
    border-radius: 50px;
}

/* Card */
.card__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.card__price {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: var(--secondary-text-color);
    font-size: 1.25rem;
}

/* Benefity */
.benefit__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.benefit__description {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
}


/* ================ O nás ================ */

/* Tým */
.team__name {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.team__position {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    font-size: 1rem;
}


/* ================ Kontakt ================ */
/* Kontakt */
.contact__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.contact__description {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
}

.contact__social-icon {
    width: 35px;
    height: 35px;
    text-decoration: none;
}

.contact__icon {
    width: 52px;
    height: 52px;
}


/* ================ Section ================ */

/* h2 */
.section__title {
    font-family: 'Sour Gummy', sans-serif;
    font-weight: 700;
    color: var(--text-color);
    font-size: 2rem;
}

.section__description {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
}